<div class="layout-column layout-align-center-center">
  {{paper-input
    label=(t "components.login.email")
    type="email"
    value=email
    required=true
    onChange=(action (mut email))
    errors=validations.attrs.email.messages}}
</div>
<div class="layout-column layout-align-center-center">
  {{paper-input
    label=(t "components.login.password")
    type="password"
    value=password
    required=true
    onChange=(action (mut password))
    errors=validations.attrs.password.messages}}
</div>

<div class="layout-column layout-align-center-center">
  {{#if isLoggingIn}}
    {{! TODO paper-progress broken in ember-paper }}
    loading...
  {{else}}
    {{#paper-button raised=true primary=true onClick=(action "login")}}
      {{t "components.login.action"}}
    {{/paper-button}}
  {{/if}}
</div>
