// color overrides
$primary: 'blue-grey';
$accent: 'orange';
$warn: 'red';


@import 'ember-paper';
@import 'global/dimens';
@import 'global/forms';

// TODO global styles
body > .ember-view {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.application-container {
  padding: $keyline-y $keyline-x;
  background-color: color('grey', '100');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@import 'components/login-form';
@import 'components/add-tap';
@import 'components/add-beer';
@import 'components/on-tap';
@import 'components/sidenav';
@import 'components/hub-status';
