@import 'ember-paper';
@import 'global/dimens';
@import 'global/forms';

// TODO global styles
body > .ember-view {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.application-container {
  padding: $keyline-y $keyline-x;
}

@import 'components/login-form';
@import 'components/add-tap';
@import 'components/add-beer';
