<h2 data-test="read">{{t "app.about.medium"}}</h2>
<p>{{t "app.about.comingSoon"}}</p>

<h2 data-test="contribute">{{t "app.about.developers"}}</h2>
<a data-test="contribute" href="https://github.com/jonpitch/danger-brewing" target="_blank">{{t "app.about.github"}}</a>
